{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-regenerator", "@babel/plugin-proposal-class-properties"]
}
