@import 'variables';

#about {
  background-color: $yellow;
  flex-direction: row;

  .about-text {
    flex: 1;
    flex-direction: column;
    padding: 10px;
  }

  .about-images {
    width: 40%;
    max-width: 700px;
  }

  .thumbs-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #about {
    flex-direction: column;

    .about-text {
      flex: 1;
    }

    .about-images {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 470px) {
  #about {
    .about-images {
      display: none;
    }
  }
}
