.navigation {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;

  .navigation-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;

    a {
      text-decoration: none;
      color: black;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
      }
    }
  }

  .navigation-footer {
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    a {
      text-decoration: none;
      color: black;
    }

    li {
      width: calc(100% - 60px);
      padding: 30px;
      border-bottom: 1px solid darkgray;
    }
  }
}
